body {background-color:aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}

h1 {background-color: aqua;
    color:aliceblue;}

nav {font-weight: bold;
    background-color: blue;}