body {background-color:aliceblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}

h1 {background-color: aqua;
    border-style:double;}

#preloader6{
    position: relative;
    width: 42px;
    height: 42px;
    animation: preloader_6 5s infinite linear;}

#preloader6 span{
    width: 20px;
    height: 42px;
    position: relative;
    background: red;
    display: block;
    animation: preloader_6_span la infinite linear;}

#preloader6 span:nth-child(1){
    background: #222ecc71;}

#preloader6 span:nth-child(2){
    left: 22px;
    background: #9b59b6;
        animation-delay: .2s;}

#preloader6 span:nth-child(3){
    top: 22px;
    background: #3498db;
        animation-delay: .4s;}

@keyframes prelaoder_6_span {
    0% {transform:scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

#navigation li {list-style: none;
            display: block;
            float: left;
            margin: 1em;}

#navigation li a {text-shadow: 0 2px 1px rgba(0,0,0,0.5);
            display:block;
            text-decoration: none;
            font-size: 1.6em;
            margin: 0 .5em;}

nav a {text-decoration: none;}
nav a:link {color:blueviolet;}
nav a:visited {color:rgb(105, 114, 165);}
nav a:hover {color:darkgreen;
            margin-top: 2px;}

#navigation_container {margin: 0 auto;
            width: 960px;}
/******Ribbon******/
#navigation li a:hover {
    margin-top: 2px;
}

.rectangle {background: #d9542b;
            height: 62px;
            position: relative;
            -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.55);
        box-shadow: 0px 0px 4px rgba(0,0,0,.55);
        webkit-border-radius: 3px;
        moz-border-raduis: 3px;
        z-index: 500;
        margin: 3em 0;}

.l-triangle-top{
    border-color: #d9542b transparent transparent;
    border-style:solid;
    border-width:50px;
    height:0px;
    width:0px;
    position: relative;
    float: left;
    top: 1px;
    left: -50px;
}

.l-triangle-bottom {
    border-color: transparent transparent #d9542b;
    border-style:solid;
    border-width:50px;
    height:0px;
    width:0px;
    position: relative;
    float: left;
    top: -40px;
    left: -150px;
}

.r-triangle-top{
    border-color: #d9542b transparent transparent;
    border-style: solid;
    border-width: 50px;
    height: 0px;
    width: 0px;
    position: relative;
    float: right;
    right: -45px;
    top: -107px;
}

.r-triangle-bottom{
    border-color: transparent transparent #d9542b;
    border-style:solid;
    border-width: 50px;
    height: 0px;
    width: 0px;
    position: relative;
    float: right;
    top: -149px;
    right:-149px;
}

/*********CSS font***********/
.css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;}

.css-typing p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;}

.css-typing p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 steps(40, end);
    animation: type2 steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;}

.css-typing p:nth-child(3) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink, .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink, .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;}

@keyframe type {
    0% {width: 0;}
    99.9% {border-right: .15em solid orange;}
    100% {border: none;}
}

@-webkit-keyframes type {
    0% {width: 0;}
    99.9% {border-right: .15em solid orange;}
    100% {border: none;}
}

@keyframes type2 {
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: .15em solid orange;}
    100% {opacity: 1;
        border: none;}
}

@-webkit-keyframes type2 {
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: .15em solid orange;}
    100% {opacity: 1;
        border: none;}
}

@keyframes type3 {
    0% {width: 0}
    1% {opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes type3 {
    0% {width: 0;}
    1% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

@-webkit-keyframes blink {
    50% {border-color: transparent;}
}


#centerDec {position: absolute;
            padding: 0 0 200px 0;
            margin-top: 300px;
            margin-left: 100px;
            margin-right: 234px;}

#wrapper {width: 80%;
        margin-right: auto;
        margin-left:auto;
        min-width: 900px;
        max-width: 1280px;}

ol {
    border: 5px solid 
}